.confirmButton {
    background: url("./confirmIcon.png") center/contain ;
    height: 20px;
    width: 20px;
    border: none;
}

.cancelButton {
    background: url("./cancelIcon.png") center/contain ;
    height: 20px;
    width: 20px;
    border: none;
}

.confirmButton:hover,
.cancelButton:hover {
    cursor: pointer;
}

.inputFieldContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inputFieldContainer input,
.inputFieldContainer button {
    margin-right: 10px;
}